
@{
    ViewBag.Title = "Index";
}


<div>

    <h2>Fecha: @ViewBag.Fecha <br />  @ViewBag.Saludo</h2>
    <p class="p">@Html.ActionLink("Ir a vuelos", "Index", "Vuelo")</p>

</div>

@section Izq{
    <img src="https://images.ecestaticos.com/pugH-c5W5zBlEzvbQrHmPffNkjQ=/0x0:2272x1278/1200x900/filters:fill(white):format(jpg)/https%3A%2F%2Ff.elconfidencial.com%2Foriginal%2Fadd%2Fb44%2Fe76%2Faddb44e7628d0204d4babf0e1cfd5837.jpg" alt="Alternate Text" />
    <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/66C6/production/_120501362_1.jpg" />
}
